{% extends 'base.html' %}


{% block title %}
Невалидные данные
{% endblock %}


{% block header %}
Ошбика 400
{% endblock %}


{% block body %}
<hr>
<div class="card" style="width: 60%; margin: auto;">
    <div class="card-header">
        Сервер заметил, что не все данные в нужном формате
    </div>
    <div class="card-body">
        <blockquote class="blockquote mb-0">
            <p>
                Проверьте еще раз данные &#x1F440;, которые отправляете на сервер
            </p>
        </blockquote>
    </div>
</div>
{% endblock %}