{% extends 'base.html' %}


{% block title %}
Доступ запрещен
{% endblock %}


{% block header %}
Ошбика 403
{% endblock %}


{% block body %}
<hr>
<div class="card" style="width: 60%; margin: auto;">
    <div class="card-header">
        К сожалению у вас не доступа к этим ресурсам ;(
    </div>
    <div class="card-body">
        <blockquote class="blockquote mb-0">
            <p>
                Свяжитесь с администрацией для окрытия доступа
            </p>
        </blockquote>
    </div>
</div>
{% endblock %}