{% extends 'base.html' %}


{% block title %}
Страницу не найдено
{% endblock %}


{% block header %}
Ошбика 404
{% endblock %}


{% block body %}
<hr>
<div class="card" style="width: 60%; margin: auto;">
    <div class="card-header">
        К сожалению такой страницы не существует ;(
    </div>
    <div class="card-body">
        <blockquote class="blockquote mb-0">
            <p>
                Проверьте правильно ли указан путь к странице
                и при необходимости свяжитесь с администрацией.
            </p>
        </blockquote>
    </div>
</div>
{% endblock %}