{% load static %}

<!DOCTYPE>
<html>
<head>
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">

    <title>
        {% block title %}{% endblock %}
    </title>
</head>

<body>
    <div class="container">
        <h1>{% block header %}{% endblock %}</h1>
        <nav>
            <a href="{{ routers.index }}">Index</a> |
            <a href="{{ routers.books }}">Books</a> |
            <a href="{{ routers.readers }}">Readers</a> |
            <a href="{{ routers.users }}">Users</a>
        </nav>

        <h2>URL: {{ path }}</h2>


        {% block body %}{% endblock %}
    </div>
</body>
</html>