{% load static %}

<!DOCTYPE>
<html>
<head>
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}"/>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

    <title>
        {% block title %}{% endblock %}
    </title>
</head>

<body>
    <div class="container">
        <nav>
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ routers.index }}">
                        Index
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ routers.books }}">
                        Books
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ routers.readers }}">
                        Readers
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ routers.users }}">
                        Users
                    </a>
                </li>

                {% if user.is_authenticated %}
                <li class="nav-item">
                    <span class="nav-link active" aria-current="page">
                        | {{ user.username }} (
                            <a href="{% url 'logout' %}">Выйти</a>
                        )
                    </span>
                </li>
                {% else %}
                <li class="nav-item">
                    <a href="{% url 'login' %}" class="nav-link active" aria-current="page">
                        | Войти
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'create-user' %}" class="nav-link active" aria-current="page">
                        Регистрация
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>

        <h1>{% block header %}{% endblock %}</h1>

        {% comment %} <h2>URL: {{ path }}</h2> {% endcomment %}

        {% block body %}{% endblock %}
    </div>
</body>
</html>