{% extends 'base.html' %}
{% load style_filter %}

{% block title %}Book detail: {{ book.title }}{% endblock %}
{% block header %}Book detail: {{ book.title }}{% endblock %}

{% block body %}
{% if book.photo %}
    <div>
        <img src="{{ book.photo.url }}"
             class="rounded mx-auto d-block"
             width="600" height="400"
        >
    </div>
{% else %}
    <div></div>
{% endif %}

<form enctype='multipart/form-data' method='post'>
    {% csrf_token %}

    {% include "snippets/form_fields.html" with form=form %}

    <button type='submit'
            class="btn btn-outline-secondary mt-4"
            style="width:100%">Update book</button>
</form>

<hr>

<form method='post' action="delete/">
    {% csrf_token %}
    <button type='submit'
            class="btn btn-outline-danger"
            style="width:100%">Delete book</button>
</form>
{% endblock %}
