{% extends 'base.html' %}
{% load style_filter %}

{% block title %} Books {% endblock %}

{% block header %}List of books{% endblock %}

{% block body %}


{% if perms.blog.add_book %}
    <form enctype='multipart/form-data' method='post'>
        {% csrf_token %}

        {% include "snippets/form_fields.html" with form=form %}

        <button type='submit' 
                class="btn btn-outline-secondary mt-2"
                style="width:100%">
            Add book
        </button>
    </form>
    <hr>
{% endif %}

<table class="table table-light table-striped table-hover">
    <tr class="table-dark">
        <th>Title</th>
        <th>Publication year</th>
    </tr>

    {% for book in books %}
        <tr>
            <td>
                <a href="{% url 'v2:book-detail' title=book.title %}">
                    {{ book.title }}
                </a>
            </td>
            <td>{{ book.publication_year }}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
