{% extends 'base.html' %}
{% load style_filter %}

{% block title %}Book detail: {{ book.title }}{% endblock %}
{% block header %}Book detail: {{ book.title }}{% endblock %}

{% block body %}
{% if book.photo %}
    <div>
        <img src="{{ book.photo.url }}"
             class="rounded mx-auto d-block"
             width="600" height="400"
        >
    </div>
{% else %}
    <div></div>
{% endif %}

<form enctype='multipart/form-data' method='post'>
    {% csrf_token %}

    {% for field in form %}
    <div class="mb-3">
        {% for error in field.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}

        <label for="{{ field.id_for_label }}" css="form-label">{{ field.label }}</label>
        {{ field|addclass:"form-control" }}
    </div>
    {% endfor %}

    <button type='submit' class="btn btn-outline-secondary">Update book</button>
</form>

<hr>

<form method='post' action="delete/">
    {% csrf_token %}
    <button type='submit' class="btn btn-outline-danger">Delete book</button>
</form>
{% endblock %}
